<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inquirly.com.inquirlycatalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Inquirly CaFe"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_akf9OY1k0HgX4w3r55omdkhjAzkngUJX" />

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation"
            android:label="Inquirly CaFe"
            android:screenOrientation="landscape">
            <intent-filter tools:node="merge">
                <data
                    android:host="/mhNp.app.link"
                    android:pathPrefix="/mhNp"
                    android:scheme="https" />
                <data
                    android:host="/mhNp.app.link"
                    android:pathPrefix="/mhNp"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CampaignTypeActivity"
            android:configChanges="orientation"
            android:label="Inquirly CaFe"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:label="Inquirly CaFe"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CampaignTypeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
            android:name=".activities.ItemTabActivity"
            android:configChanges="orientation"
            android:label="Inquirly CaFe"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DetailViewActivity"
            android:configChanges="orientation"
            android:label="Inquirly CaFe"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.CartActivity"
            android:configChanges="orientation"
            android:label="Cart"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.CustomerDetailActivity"
            android:configChanges="orientation"
            android:label="Customer Details"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.WebViewActivity"
            android:configChanges="orientation"
            android:label="Feedback"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SearchActivity"
            android:configChanges="orientation"
            android:label="Inquirly CaFe"
            android:parentActivityName=".activities.ItemTabActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="inquirly.com.inquirlycoolberry.Activity.CoolberryMainActivity"
            android:label="@string/title_activity_coolberry_main"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="inquirly.com.inquirlycoolberry.Activity.CoolberryItemsTabActivity"
            android:label="@string/title_activity_coolberry_items_tab"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="inquirly.com.inquirlycoolberry.Activity.CoolBerryCartActivity"
            android:label="@string/cart_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="inquirly.com.inquirlycoolberry.Activity.ItemBillActivity"
            android:label="@string/title_activity_item_bill"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="inquirly.com.inquirlycoolberry.Activity.CustomerFormActivity"
            android:label="@string/customer_form_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="inquirly.com.inquirlycoolberry.Activity.OrderPlacedActivity"
            android:label="@string/order_place_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="inquirly.com.inquirlycoolberry.Activity.CoolberrySearchActivity"
            android:label="@string/title_activity_coolberry_search"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <receiver android:name="inquirly.com.inquirlycoolberry.service.UpdateMenuTimerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <service android:name="inquirly.com.inquirlycoolberry.service.AutoUpdateDataService"
            android:exported="false"
            android:enabled="true" />
    </application>

</manifest>